# This is the base config for Hydra
defaults:
  # - model: vanilla_ae
  - model: swae

project_name: 'lofar-ml'

common:
  data_dir: 'C:/LOFAR/full/'
  device: 'cuda:0'
  gpus: 1

data:
  data_dir: ${common.data_dir}
  device: cpu
  # device: ${common.device}
  
preproc:
  mode: 'patch'
  size: [128,128]
  channels: 4
  device: ${common.device}

loader:
  batch_size: 96
  shuffle: true
  collate_fn: ${preproc.mode}
  num_workers: 6
  persistent_workers: true

checkpoint:
  monitor: 'val_loss'
  dirpath: 'models/checkpoints/'
  filename: 'model_{epoch:03d}_{loss:.4f}_{val_loss:.4f}'
  save_top_k: 4
  mode: 'min'

trainer:
  max_epochs: 50
  precision: 16
  accelerator: 'gpu'

optimizer:
  name: 'Adam'
  lr: 0.001